* {
    padding: 0;
    margin: 0;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: -1;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.icons {
    display: none;
}

.navbar a {
    font-family: 'Poppins',  sans-serif;
    font-size: 1.15rem; 
    text-decoration: none;
    font-weight: 600;
    margin-left: 2.5rem;
  
}